.upload {
  font-weight: bold;
  color: #28a745;
  margin-left: 15px;
  line-height: 36px;
}

.attach {
  cursor: pointer;
  margin-right: 10px;
}

.BtnRightSide {
  outline: none;
  border: none;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 5px;
  width: 120px;
  color: white;
  background: #20bf6b;
}
