<mat-toolbar>

  <mat-toolbar-row fxLayout.xs="column" fxLayoutGap.xs="20px" [dir]="direction" class="toolbar">
    <div class="bigMain" fxLayout>
      <img (click)="onCancel()" class="cancel_Img" src="../../../../assets/images/svg/arrow (2).png" alt="">
    
      <section class="fontY">
        <!-- <i class="far fa-user"></i> -->
        {{name}}
      </section>
    </div>

    
    <div class="dragBtn">
      <mat-slide-toggle (click)="onDragState()">Change state</mat-slide-toggle>
    </div>

    <div class="circlesRow">
      <div class="circle" *ngFor='let item of members; let i = index'>
        {{ i +1  < 4  ? getInitials(item , i) : '+'  +  (members.length - i) }}
      </div>
    </div>


    
  </mat-toolbar-row>

</mat-toolbar>

<section *ngIf="dragState" class="states">
  <div  fxLayout cdkDropListGroup  >
    <div   cdkDropList cdkDropListOrientation="horizontal" (cdkDropListDropped)="dropColumns($event)" >
      <div *ngFor="let state of states" cdkDrag class="example-container">
        <div class="headTitle">
          <div class="statetitle">{{state.stateName}}</div>
        <!-- <div class="editComment" (click)="onEditStateName(state)"><i class="fas fa-pen"></i></div> -->
        </div>
      </div>
  </div>
</div>
 
  
</section>
<section *ngIf="!dragState"  class="states">
  <div  fxLayout cdkDropListGroup  >
      <!-- <div  cdkDropList cdkDropListOrientation="horizontal" (cdkDropListDropped)="drop2($event)"> -->
      <div *ngFor="let state of states"   class="example-container">
        <div *ngIf="state.showStateName" class="headTitle">
          <div class="statetitle">{{state.stateName}}</div>
        <div class="editComment" (click)="onEditStateName(state)"><i class="fas fa-pen"></i></div>
        </div>
        <div *ngIf="!state.showStateName" class="headTitle">
          <form >
            <mat-form-field class="editStateInput" appearance="outline">
              <input [ngModelOptions]="{standalone: true}" [(ngModel)]="state.stateName" matInput placeholder="Edit state name ...">
            </mat-form-field>
          </form>
          <div fxLayout="column" fxLayoutGap="15px" class="stateEditBox">
            <img (click)="onCancelEditState(state)" class="cancelStateEdit" src="../../../../assets/images/svg/close.png" alt="">
          <h1 (click)="onNewEditState(state)" class="editComment"><i class="fas fa-paper-plane"></i></h1>
          </div>
        </div>
        <div
          cdkDropList
          #childList="cdkDropList"
          [cdkDropListData]="state.cardArray"
          class="example-list"
          (cdkDropListDropped)="drop($event)">
          <div class="example-box" *ngFor="let item of state.cardArray" (click)="onClickCard(item)" cdkDrag>
            <div class="box_title">{{item.title}}</div>
            <div class="crcletime">
              <div class="time">
                <i class="fa fa-clock-o"></i>
                <div class="timedate">2022-03-18</div>
              </div>
              <div class="circlesRow1">
              <div class="circle13" *ngFor='let item of members; let i = index'>
                {{ i +1  < 4  ? getInitials(item , i) : '+'  +  (members.length - i) }}
              </div>
            </div></div>
            
          </div>
        </div>
        <div *ngIf="role === '2'">
          <button class="add_btn2" *ngIf="state.AddC" mat-button color="primary" (click)="onAddC(state.brdStateId)" [disabled]="!screenRights.createFlag"><mat-icon>add</mat-icon></button>
        </div>
    <mat-form-field *ngIf="!state.AddC" appearance="outline">
      <mat-label>Card name</mat-label>
      <input
        matInput
        [(ngModel)]="lastCard.title"
        name="CardName"
        placeholder="Card name"
      />


    </mat-form-field>
    <div class="btns">
      <button class="cancel_btn" *ngIf="!state.AddC" mat-button color="primary" (click)="onCancelCard()" [disabled]="!screenRights.createFlag">Cancel</button>
    <button class="add_btn" *ngIf="!state.AddC" mat-button color="primary" (click)="onSaveCard(state.brdStateId)" [disabled]="!screenRights.createFlag">Save</button>
        
    </div>
      </div>
  
  
   
  <!-- </div> -->
  </div>
    
  <section class="sec"  *ngIf="role === '2'">
    <button class="add_btn1" *ngIf="Add" mat-button color="primary" (click)="onAddN()" [disabled]="!screenRights.createFlag">Add list</button>
    <mat-form-field *ngIf="!Add" appearance="outline">
      <mat-label>List name</mat-label>
      <input
        matInput
        [(ngModel)]="listName"
        name="listName"
        placeholder="List name"
      />


    </mat-form-field>
    <div class="btns">
      <button class="cancel_btn" *ngIf="!Add" mat-button color="primary" (click)="onCancelList()" [disabled]="!screenRights.createFlag">Cancel</button>      
      <button class="add_btn" *ngIf="!Add" mat-button color="primary" (click)="onSave()" [disabled]="!screenRights.createFlag">Save</button> 
    </div>
  </section>
  
</section>